# vendor folder
vendor

# Binaries
app/raft/raft

# Mac
.DS_Store

# Backup files
*~*

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Editor files
.idea/
*.iml
*.swp

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.exe~
//*.test
.vscode/tasks.json

# Binaries for programs and plugins
*.dll
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Output of jepsen's maelstrom
store/current
store/latest
store/maelstrom/*
